select[name="unidade_monetaria"] {
    padding: 0;
    height: 20px;
    background: none;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
select[name="unidade_monetaria"]:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

input[name="peresivel"] {
    margin: 0 8px;
}